
<div *ngIf="userSettings">
    <h2><span jhiTranslate="twentyOnePointsApp.userSettings.detail.title">User Settings</span> {{userSettings.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="twentyOnePointsApp.userSettings.weeklyGoal">Weekly Goal</span></dt>
        <dd>
            <span>{{userSettings.weeklyGoal}}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.userSettings.user">User</span></dt>
        <dd>
            {{userSettings.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-settings/'+ userSettings.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
